body{
    font-family: Arial, sans-serif;
    background-color: #c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto;
}
.container{
    background: rgb(49 62 108);
    padding: 85px 82px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 359px;
    margin: 100px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.h1{
    text-align: center;
    margin-bottom: 30px;
    font-size:20px;
}
.switch-reg {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 24px;
  }
 
button {
    width: 100%;
    padding: 10px 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
  }
  button:hover {
    background: #0ad14d;
  }
  .container1 {
    text-align: center;
    margin-bottom: 10px;
  }
  .form-section {
    display: none;
  }

  .form-section.active {
    display: flex;
    flex-direction: row;
}
