body {
  font-family: Arial, sans-serif;
  background-color: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: rgb(49, 62, 108);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 360px;
}

.container1 {
  text-align: center;
  margin-bottom: 20px;
}

.switch-reg {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
}

.switch-reg.active-title {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

button:hover {
  background: #0ad14d;
}

.form-section {
  display: none;
}

.form-section.active {
  display: block;
}
